/* google font start */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,100&display=swap');
/* end google font */


/* global css/ style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
   
}
.container{
    width: 1200px;
    margin: auto;
}
/* for all paragraph tag */
.paragraph{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
}
/* for all button */
.shop-btn{
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    border: 1px solid #E55473;
    padding: 15px 25px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.shop-btn:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
/* Every section title style */
.title-description > .title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.title-description > p{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}
.title-description {
    margin-bottom: 40px;
}


/* End Global css */
.heder-section{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img{
    width: 473px;
    margin-top: 30px;
       /* width: 72%; */
}
.banner-img > img{
    width: 100%;
}
.banner-description h1 {
color: #272727;
font-size: 60px;
font-weight: 800;
}
/* Header section Done */


/* Featured Section style */
.featured-img-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.featured-img-wrapper > div > div {
    width: 359px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px 0px;
}
.featured-img-wrapper > div > .div-2 {
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.featured-img-wrapper > div > .div-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-img-wrapper > div > div > img{
    width: 59%;
    height: 89%;
    margin-top: 43px;
}
.featured-section {
    margin: 70px 0px 50px 0px;

}
.featured-img-wrapper > div > a{
    text-align: center;
    display: block;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

/* service section  */
.service-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 40px 80px;
    margin: 80px 0px;
}
.service-wrapper img {
    width: 70px;
}
/* Hot deals section */
.hot-deals {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deals-wrpper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.hot-deals-description{
    width: 400px;
    text-align: center;
}
.hot-deals-description h2{
    font-weight: 800;
    margin-bottom: 15px;
}
.hot-deals-description p{
    color: #6a6767;
    line-height: 23px;
    font-size: 16px;
}
span.off {
    color: #E55473;
}

/* Instragram Section */

.flower-wrapper {
    display: flex;
    gap: 15px;
    margin: 40px 45px 100px 0px;
}
.flower-wrapper > img {
    width: 25%;
    transition: 0.3s;
    cursor: pointer;
}

/* latest Deals */

.latest-deals{
    background-image: url(../assets//latest-deals.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 140px;
    height: 369px;
}
.latest-deals h2 {
    font-weight: 800;
    margin-bottom: 10px;
}
.latest-deals p {
    color: gray;
    font-size: 14px;
}
.subscribe {
    width: 50%;
    margin: auto;
}
.subscribe input {
    width: 70%;
    height: 43px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}
.subscribe > button {
    padding: 9px 15px;
}

/* footer */
footer {
    background: black;
    color: white;
}
.footer-wrp {
    text-align: center;
    padding: 100px 0px;
}
.footer-wrp h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-wrp > p {
    margin-bottom: 25px;
    font-size: 16px;
    color: #a5a3a3;
}
.last-part-footer{
    color: gray !important;
    font-size: 14px !important;
}

/* my featured style */
.flower {
    width: 270px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 2px 9px 0px #d5d5d5;
    border-left: 1px solid #f9f5f5;
    background-color: #fff;
    cursor: pointer;
}

.flower img {
    width: 100%;
    height: 220px;
}

.flower-description {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.buy {
    display: flex;
    justify-content: space-between;
}

.des-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: -11px;
}

h4.flower-name {
    font-size: 18px;
    font-weight: 700;
    color: orangered;
}

.buy span {
    font-size: 14px;
    color: gray;
}
.buy-flower-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    justify-content: center;
    margin-bottom: 60px;
}
.buy > button {
    background: #E55473;
    color: white;
    padding: 2px 10px;
    border: 1px solid #E55473;
    border-radius: 3px;
    transition: .3s;
}

.buy button:hover {
    background: transparent;
    color: #E55473;
}
.buy-flowers {
    background: #f1f1f1;
    padding: 60px 0px 25px 0px;
    margin-bottom: 80px;
}
/* Best sell flower */
.image > img {
    width: 100%;
}

.image {
    border: 3px solid #fff;
    padding: 4px;
    width: 400px;
}

.best-flower {
    display: flex;
    padding: 60px 50px;
    margin: 50px;
    box-shadow: 6px 0px 20px 0px #7fff21;
}
.total-sell {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
h3 .flower-name {
    color: red;
    font-size: 30px;
}
.sapla-description {
    padding: 0px 0px 0px 100px;
    width: 693px;
}
.best-flower:hover {
    background: white;
    cursor: pointer;
}